/*!

 =======================================================================================
 * Personnal CSS - version 0.1
 =======================================================================================

This is the personnal CSS for my site www.laurent-may.com. It's custom parameter from :
Material Dashboard Pro - v2.2.1 CSS version

 * Product Page: https://www.creative-tim.com/product/material-dashboard-pro

 =======================================================================================


=========== home page ==========  
*/
.home-page .title {
    font-size: 6em;
    color: #fff;
    letter-spacing: 10px;
    font-weight: 400;
    margin-top: 1px;
    margin-bottom: 40px;
}
  
.home-page h2 {
    font-size: 2em;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
}
  
.home-page p {
    font-size: 1.2em;
    color: #fff;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 1px;
    text-align: left;
    margin-left: 20%;
}
  
.home-button button {
    margin-right: 2%;
    margin-bottom: 5%;
}

.error-page .astro img{
    width: 30%;
}

.footer-cust .mentions{
    color:darkgrey;
}
  
/* 
=========== portfolio page ==========  
*/

.portfolio-contact {
    margin-top: 50px;
}

.portfolio .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
}

.card-exp .card {
    min-height: 120px;
}

.card-exp .card-title {
    margin-bottom: 15px;
}

.card-exp .portfolio-sub-img {
    position: relative;
}

.card-exp .portfolio-sub-img img{
    padding: 15px;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.card-exp h4 {
    font-weight: bold;
}

/* 
=========== about page ============== 
*/
  
.about-page .container {
    margin-top: 20vh;
}
  
.about-page .title {
    font-size: 3em;
    font-weight: 400;
    margin-top: 3vh;
    margin-bottom: 40px;
}
  
.about-page h2 {
    margin-top: 5vh;
}

.about-page-contact{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.about-page-contact button {
    margin-right: 2%;
    margin-bottom: 14px;
}

.about-page-contact .card{
    max-width: 800px;
    padding: 25px;
}

/* 
=========== contact page ============== 
*/

.page-header .contact-page {
    top: 25%;
}
  
.contact-page .card-title {
    font-size: 3em;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 40px;
}
  
.contact-page .card-signup {
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
    padding: 40px 0px;
    margin-top: 5vh;
}
  
.contact-page .sub-description {
    color: #3C4858;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}
  
.input-group .sub-message {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    width: 100%;
}
  
.contact-subtitle {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

/* 
============================ GENERAL ===============================
*/
  
/* =========================== FORMS ========================== */
form .form-group .error {
    display: none;
    font-size: 0.8rem;
    color: #f44336;
}
  
.empty-field::placeholder {
    color: #f44336;
}
  
form .form-message {
    font-size: 0.8rem;
    color: #f44336;
}
  
.info-title {
    font-weight: bold;
}

/* =========================== NAVS ========================== */
.nav-logo img {
    width: 140px;
}

.off-canvas-sidebar .navbar-toggler .navbar-toggler-icon{
    background-color:#3C4858 !important;
    color:#3C4858 !important;
}

@media screen and (max-width: 991px) {
    .navbar .navbar-collapse .navbar-nav .nav-item{
        color: white!important
    }
}


/* ========================== PAGES ========================== */
.wrapper-full-page {
    background-color: #fff;
    margin-top: 4em;
}

.wrapper-full-page h1{
    text-align: left;
}

.wrapper-full-page h2{
    font-size: 1.7rem;
}

.wrapper-full-page h3{
    font-size: 1.4rem;
}

.off-canvas-sidebar .wrapper-full-page .page-header-cust {
    padding: 15vh 0 !important;
}

.content-about-page {
    margin: 50px auto;
    max-width: 1140px;
}

.header-title {
    margin-left: 25%;
}
  
.page-header-cust {
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
    background-position: center center;
    background-size: cover;
    padding: 0;
    margin: 0;
    border: 0;
    color: #fff;
    align-items: center;
}

.page-header-cust h1 {
    color: #f0f0f0;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 5px;
}
  
.page-header-cust h2 {
    font-size: x-large;
}
  
.page-header-cust footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
  
.page-header-cust .container {
    height: 100%;
    z-index: 1;
}
  
.intro {
    padding: 10px;
}

.sidekick {
    margin: 2em 8em 2em 8em;
    position: relative;
    padding-left: 1em;
    border-left: 0.2em solid #039be5;
    font-family: 'Roboto', serif;
    line-height: 1.5em;
    font-weight: 400;
}

@media (max-width: 992px) {
    .sidekick {
        margin: 10px;
    }
}

.code-quote {
    margin: 2em 8em 2em 8em;
    position: relative;
    padding-left: 1em;
    font-family: 'Roboto', serif;
    line-height: 1.5em;
    font-weight: 400;
    background-color: #f6f6f6;
}

@media (max-width: 992px) {
    .quote {
        margin: 10px;
    }
}

/* ========================== Profil About ========================== */
  
.intro .profil {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
  
.intro img {
    align-content: center;
}
  
.intro .profil-descrip {
    margin: auto;
    text-align: justify;
}

.intro .profil-descrip .sub-title {
    margin-bottom: 2px;
}

.intro .profil-descrip h3 {
    margin-top: 2px;
    margin-bottom: 25px;
}
  
.intro .home-button {
    text-align: center;
}
  
.intro hr {
    max-width: 1140px;
}

.hidden {
    display: none; 
}

/* ========================== TIMELINE ========================== */
.timeline-badge {
    transform: scale(0.5);
}

.timeline .timeline-panel h4 {
    font-weight: bold;
}

.timeline .timeline-panel .timeline-descrip {
    text-align: justify;
}

.timeline .timeline-panel .timeline-descrip .sub-title {
    font-weight: bold
}

/* ========================== SKILLS ========================== */
.areaskills .progress {
    margin-top: 10px;
    height: 10px;
    width: 250px;
}

.areaskills {
    margin-bottom: 40px;
}

.areasolftskills {
    margin-bottom: 40px;
}

.areasolftskills .soft_skills_img {
    text-align: center;
    margin-top: 0px;
}

.areasolftskills .soft_skills_img img {
    height: 350px;
}

/* ========================== INTEREST ========================== */
.card-body-interest i {
    font-size: 50px;
    margin-bottom: 5px;
}

.card-body-interest .card-title{
    margin-top: 5px;
}

/* ========================== FOOTER ========================== */
.off-canvas-sidebar .footer-cust .container{
    width: 100%;
    margin-bottom: 50px;
  }

/* ========================== AZG ETL Page ========================== */
.intro .azg_logo img{
    width: 100%;
}

.intro .azg_data_brut img{
    width: 50%;
    margin-top: 40px;
}

.intro .azg_mcp img{
    width: 80%;
    margin-bottom: 40px;
}

.intro .azg_talend_init img{
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.intro .azg_talend_commune_trans img{
    width: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.intro .azg_commune_id img{
    width: 50%;
}

.intro .azg_talend_context img{
    width: 35%;
}

.intro .azg_talend_routine img{
    width: 70%;
}

.intro .azg_talend_tMap img{
    width: 70%;
}

.intro .img_middle img{
    width: 60%;
}

.intro .azg_viz img{
    width: 70%;
    margin-top: 40px;
    margin-bottom: 40px;
}


/* ========================== KNIME Page ========================== */

.intro .knime_logo img{
    width: 100%;
    margin-top: 40px;;
}

.intro .Knime_enjeux img{
    width: 90%;
    margin-bottom: 40px;
}

.intro .Knime_indicateurs img{
    width: 70%;
    margin-bottom: 40px;
}

.intro .Knime_donnees img{
    width: 90%;
    margin-bottom: 40px;
}

.intro .Knime_work1 img{
    width: 60%;
    margin-bottom: 40px;
}

.intro .Knime_extract img{
    width: 50%;
}

.intro p{
    text-align: justify;
}

.intro .quote{
    color: darkgreen;
    text-align: center;
    margin-bottom: 30px;
}

.intro ul {
    margin-top: 15px;
    margin-bottom: 15px;
}

.plus_haut{
    text-align: right;
    margin-top: 50px;
    font-style: italic;
}


/* ========================== Mobile size ========================== */

@media (max-width: 992px) {
    .intro .img_mobile img {
      width: 100%;
    }
}


/*  --------------------------------------------------------------------------------  */
/*  --------------------------------------------------------------------------------  */
